@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blog-content h1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.blog-content p {
  margin: 2.25rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
